body {
    font-family: Arial, sans-serif;
    background-color: #E5E7E9; /* Couleur de fond de la page */
    margin: 0;
    padding: 0;
}

.container {
    width: 50%;
    margin: 0 auto;
}

form {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

label, input, textarea {
    display: block;
    margin-bottom: 10px;
}

input[type="file"] {
    display: block;
    margin-bottom: 10px;
}

textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
}

input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Style pour la mise en page de formulaire plus large */
@media (min-width: 768px) {
    .container {
        width: 70%;
    }
}
}